---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
.sidebar{
	float:right;
	width:280px;
}
.info-dir{
	float:right;
}
.info-dir ul {
	list-style: none;
	margin:0;
}
.info-dir ul li a{
	background:#1F9FBA;
	padding: 10px;
	color:#ffffff;
	display: block;
}
.info-dir ul li a:hover{
	background:#15C1E5;
}
.info-dir h2 {
	text-align:center;
	margin-bottom: 5px;
}
.site-header{
	background:#1F9FBA;
}
.site-logo{
	position: absolute;
}
.site-footer{
	text-align: center;
	color: #A0A0A0;
}
.tri-fold {
	float:none;
}
.tri-fold div{
	max-width: 280px;
	background: #0C9EBB;
	color: #ffffff;
	padding: 4px;
	float: left;
	margin: 5px;
	height: 360px;
}
.tri-fold div hr{
	color: #ffffff;
}
.clinic-info{
	float: right;
	background:#CA3535;
	color:#ffffff;
	padding: 10px;
	max-width: 280px;
}
.blue{color:#15C1E5;}
.yellow{color:#FFA507;}
.main-text{
	float: left;
	max-width: 600px;
	padding: 5px;
}
.page-link {
    padding: 18px 5px 30px 5px;
    font-size: 8.5pt;
}
@media screen and (max-width: 300px) {
	.hide-on-small{display:none;}
	.slider{height: 42vw;}
	div.hide-on-less-than-lx{display:none;}
	div.show-on-less-than-lx{display:inline-block;float: left;}
}
@media screen and (min-width: 301px) {
	.hide-on-small{display:none;}
	.slider{height: 42vw;}
	div.hide-on-less-than-lx{display:none;}
	div.show-on-less-than-lx{display:inline-block;float: left;}
}
@media screen and (min-width: 601px) {
	.hide-on-small{display:none;}
	.slider{height: 42vw;}
	div.hide-on-less-than-lx{display:none;}
	div.show-on-less-than-lx{display:inline-block;float: left;}
}
@media screen and (min-width: 880px) {
	.hide-on-small{display:none;}
	.slider{height: 42vw;}
	div.hide-on-less-than-lx{display:none;}
	div.show-on-less-than-lx{display:inline-block;float: left;}
}
@media screen and (min-width: 881px) {
	.hide-on-small{display:unset;}
	.hide-on-large{display:none;}
	.slider{height: 400px;}
	div.hide-on-less-than-lx{display:none;}
	div.show-on-less-than-lx{display:inline-block;float: left;}
}
@media screen and (min-width: 1000px) {
	.hide-on-small{display:unset;}
	.hide-on-large{display:none;}
	.page-link {
	    padding: 18px 5px 30px 5px;
	    font-size: 10pt;
	}
	.slider{height: 400px;}
	div.hide-on-less-than-lx{display:none;}
	div.show-on-less-than-lx{display:inline-block;float: left;}
}
@media screen and (min-width: 1220px) {
	.hide-on-small{display:unset;}
	.hide-on-large{display:none;}
	.page-link {
	    padding: 18px 5px 30px 5px;
	    font-size: 10pt;
	}
	.slider{height: 400px;}
	div.hide-on-less-than-lx{display:none;}
	div.show-on-less-than-lx{display:inline-block;float: left;}
}
@media screen and (min-width: 1221px) {
	.hide-on-small{display:unset;}
	.hide-on-large{display:none;}
	.page-link {
	    padding: 18px 5px 30px 5px;
	    font-size: 10pt;
	}
	div.hide-on-less-than-lx{display:inline-block;}
	div.show-on-less-than-lx{display:none;}
	.slider{height: 400px;display:inline-block;}
	.slider-div{display:inline-block;width: 890px;}
	.info-dir{display:inline-block;max-width:250px;vertical-align: top;}
}
.slider li {
	position: absolute;
	max-width: 890px;
	padding-right:15px;
	z-index: -1;
}
.slider{
	list-style-type: none;
	margin-left:0;}









// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #15C1E5;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        1200px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
