---
layout: default
---

<div class="home">
	<div class="slider-div">
		<h2 class="hide-on-large" style="margin:0;background: rgba(20,20,20,0.5);color: #ffffff;padding-left: 10px;">Our mission is to provide pro-life, Christian health care for your family.</h2>
		<ul class="slider">
			<h2 class="hide-on-small" style="position: absolute;margin-top: 80px;background: rgba(20,20,20,0.4);color: #ffffff;padding-left: 10px;">Our mission is to provide pro-life,<br>Christian health care for your family.</h2>
			<li><img id="slider-4" style="display:none;" src="/images/front-slide-1.jpg"></li>
			<li><img id="slider-3" style="display:none;" src="/images/front-slide-3.jpg"></li>
			<li><img id="slider-2" style="display:none;" src="/images/front-slide-2.jpg"></li>
			<li><img id="slider-1" src="/images/front-slide-1.jpg"></li>
		</ul>
		<script type="text/javascript">
			var x = 1;
			var max = 4;
			setInterval(slider,4000);
			function slider () {
				var y = x;
				if (x < max) {
					x = x + 1;
				}else{
					x = 1;
				};

				document.getElementById("slider-" + x).style = 'z-index:-2;display:unset;';
				for (var i = 1; i < 100; i += 1) {
				    (function(i) { 
				        setTimeout(function() {
				            document.getElementById("slider-" + y).style.opacity = (100 - i) * 0.01;
				        }, i * 10);
				    })(i);
				}
				setTimeout(function() {
					document.getElementById("slider-" + y).style = 'display:none;';
					document.getElementById("slider-" + x).style = 'z-index:-1;';
				}, 1000);
			}
		</script>
	</div>
	<div class="info-dir hide-on-less-than-lx">
	{% include information-dir.html %}
	</div>
  	{% include tri-fold.html %}
  	<div class="main-text">
    <a href="/patient-information-packet/"><h3 class="yellow">Patient Information Packet</h3></a>

    <p>Please contact us at 651-653-0062 with any questions or to obtain more information about the range of services we provide.</p>

    <p>AALFA Family Clinic is a pro-life clinic that follows Christian values. These values are shared by all employees. "AALFA is a very dedicated family practice clinic that doesn't compromise providing healthcare and practicing in an ethical and family values way."</p>

    <h2 class="blue">News Release</h2>

    <p>We are pleased to announce that AALFA Family Clinic is now a <a href="/pdf/Certified-Medical-Home.pdf">Certified Medical Home</a> in the state of Minnesota.</p>

    <p>What does this mean for you? Your Primary Provider and healthcare team continue to be committed to providing quality care, timely follow-ups and coordination of care with outside specialists to improve and maintain your health. <a href="/pdf/Certified-Medical-Home.pdf">Read more...</a></p>
  </div>
	<div class="info-dir show-on-less-than-lx">
	{% include information-dir.html %}
	</div>
</div>