<footer class="site-footer">
  <div class="wrapper">
    <h4>DISCLAIMER:</h4>
    <p>As you explore our website you will find links to various external websites which provide additional medical information, medication guidelines, and other helpful resources. AALFA is not responsible for the content of those websites, and does not assume that their content will adhere to the same values practiced in our clinic.</p>
  </div>
  <div class="wrapper">
    <h5>© Copyright 2017, AALFA Family Clinic. All rights reserved.</h5>
  </div>

</footer>
