<div>
	<div class="clinic-info">
		<img src="/images/family-of-3.jpg" alt="">
		<h3>Clinic Hours / Appointments</h3>
		<p>Monday-Friday: 8:00am - 5:00pm</p>
		<p>Appointments:  651-653-0062</p>
		<h3>Urgent Care / After-Hours Care</h3>
		<p>We offer same day appointments during regular clinic hours for Urgent Care.</p>
		<p>After-hours our doctors are on-call through our answering service: <b>651-653-0062.</b></p>
	</div>
</div>