<div class="tri-fold">
	<div>
		<h1>OUR MISSION</h1>
		<hr>
		<p>AALFA Family Clinic is a growing practice served by five physicians, two Physician Assistants and one Family Nurse Practitioner. Our mission is to provide pro-life, Christian health care for your family.</p>
	</div>
	<div>
		<h1>CLINIC HOURS APPOINTMENTS</h1>
		<hr>
		<p>Monday-Friday:<br>8:00am - 5:00pm</p>
		<p>Appointments:<br>651-653-0062</p>
		<img src="/images/kids.jpg" style="margin: 0 20px;">
	</div>
	<div>
		<h1>URGENT CARE/ AFTER HOURS</h1>
		<hr>
		<p>We offer same day appointments during regular clinic hours for Urgent Care.</p>
		<hr>
		<p>After-hours our doctors are on-call through our answering service: 651-653-0062.</p>
	</div>
</div>
<div>
	<div class="clinic-info">
		<img src="/images/family-of-3.jpg" alt="">
		<h3>Clinic Hours / Appointments</h3>
		<p>Monday-Friday: 8:00am - 5:00pm</p>
		<p>Appointments:  651-653-0062</p>
		<h3>Urgent Care / After-Hours Care</h3>
		<p>We offer same day appointments during regular clinic hours for Urgent Care.</p>
		<p>After-hours our doctors are on-call through our answering service: <b>651-653-0062.</b></p>
	</div>
</div>