<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="hide-on-large" style="text-align: center;
background: #15C1E5;"><img src="/images/logo.jpg" alt="{{ site.title }}"></div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>