---
layout: default
---
<article class="post">
	{% if page.banner %}
	<img src="/images/{{ page.banner }}" alt="{{ site.title }}-{{ page.title }}">
	{% endif %}
  	<header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  	</header>

	<div class="sidebar hide-on-less-than-lx">
		<div class="info-dir" style="margin-bottom: 10px;">
		{% include information-dir.html %}
		</div>
		<div class="clinic-info">
			<img src="/images/family-of-3.jpg" alt="">
			<h3>Clinic Hours / Appointments</h3>
			<p>Monday-Friday: 8:00am - 5:00pm</p>
			<p>Appointments:  651-653-0062</p>
			<h3>Urgent Care / After-Hours Care</h3>
			<p>We offer same day appointments during regular clinic hours for Urgent Care.</p>
			<p>After-hours our doctors are on-call through our answering service: <b>651-653-0062.</b></p>
		</div>
	</div>

  	<div class="post-content">
    {{ content }}
  	</div>
  
	<div class="show-on-less-than-lx">
		<div class="info-dir" style="margin: 10px;">
		{% include information-dir.html %}
		</div>
		<div class="clinic-info" style="margin: 10px;">
			<img src="/images/family-of-3.jpg" alt="">
			<h3>Clinic Hours / Appointments</h3>
			<p>Monday-Friday: 8:00am - 5:00pm</p>
			<p>Appointments:  651-653-0062</p>
			<h3>Urgent Care / After-Hours Care</h3>
			<p>We offer same day appointments during regular clinic hours for Urgent Care.</p>
			<p>After-hours our doctors are on-call through our answering service: <b>651-653-0062.</b></p>
		</div>
	</div>
</article>
